<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Fonts</title>
</head>
<body>
    <h1>Animals Section:</h1>
    <a href="https://www.uq.edu.au/news/article/2022/06/deadly-snakes-could-save-your-life">Brown Snake Image</a><br>
    <a href="https://www.megacurioso.com.br/ciencia/108271-voce-conhece-a-temida-caravela-portuguesa.htm">Blue Bottle JellyFish image</a><br>
    <a href="https://www.britannica.com/animal/estuarine-crocodile">Saltwater Crocodile Image</a><br>
    <a href="https://animals.howstuffworks.com/snakes/deadliest-snake-in-world.htm">Coastal Taipan Image</a><br>
    <a href="https://blog.cobasi.com.br/dingo/">Dingo Image</a><br>
    <a href="https://blogdopescador.com/caracol-cone/">Caracol Cone Image</a><br>

    <p>All the info's of the defense, food chains, is from <a href="https://chat.openai.com">CHATGPT</a></p><br>

    <h1>Cases Section:</h1>
    <a href="https://editalconcursosbrasil.com.br/noticias/2022/12/desavisada-garota-corre-risco-na-australia-ao-se-deparar-com-ave-mortal/">Casuar Case</a><br>
    <a href="https://www.wionews.com/trending/australian-man-escapes-crocodile-attack-by-prising-its-jaws-off-his-head-598241#:~:text=Marcus%20McGowan%2C%2051%2C%20was%20snorkelling,an%20exclusive%20resort%20in%20Queensland.">Saltwater Crocodile Case</a><br>
    <a href="https://www.theguardian.com/australia-news/2023/mar/16/woman-bitten-by-potentially-deadly-blue-ringed-octopus-at-sydney-beach">Blue Octopus Case</a><br>
    <p>The another cases shown, is from <a href="https://chat.openai.com">CHATGPT</a>, and i cannot proof if they're REAL or FAKE.</p>

    <h1>Animals Sounds:</h1>
    <a href="https://www.youtube.com/watch?v=-swHWUj4Zz8">Saltwater Crocodile</a>
</body>
</html>